<div class="media">
  <div class="media-left">
    <%= image_tag post.user.avatar_url(48), class: 'media-object' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, topic_post_path(post.topic, post) %>
    </h4>
    <small>
    <%= post.votes.count %> Votes<br>
    <%= post.comments.count %> Comments
    </small>
  </div>
</div>
